@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
    font-family: sans-serif;
}

body {
    background-color: rgb(209, 209, 209);
}
/*
Navigation Bar */

#rec a {
    text-decoration: none;
    color:black
}

#navbar {
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    border: 3px solid;
}

.navlinks {
    font-size: 20px;
    border: 30px 10px solid;
}

.recommend {
    color: black;
    padding-right: 50px;
    transition: 0.3s ease;
}

.contact {
    color: black;
    padding-right: 50px;
    transition: 0.3s ease;
}

.officialw {
    color: black;
    padding-right: 50px;
    transition: 0.3s ease;
}

.recommend:hover {
    color: red;
    font-size: 22px;
}

.contact:hover {
    color: red;
    font-size: 22px;
}

.officialw:hover {
    color: red;
    font-size: 22px;
}

.navlinks li {
    display: inline-block;
    list-style: none;
}

.navlinks li a{
    color: black;
    text-decoration: none;
}

/* Header */

#header {
    text-align: center;

}

/* Sign Up Form */

.signup-form {
    width: 500px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
    background-color: rgb(241, 241, 241)    ;
    box-sizing: unset;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.signup-form h1 {
    color: black;
    margin-bottom: 30px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    height: 25px;
    width: 85%;
    border: 5px solid yellow;
    outline: none;
    font-size: 17px;
}

button {
    color: white;
    background-color: black;
    height: 50px;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px, 0;
    margin-bottom: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* profiles */

#profiles {

    border: 5px red solid;


}

@media(max-width: 540px) {

    body {
        font-size: 150%;

    }


}