/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');*/

* {
    font-family: sans-serif;
}

body {
    background-color: rgb(209, 209, 209);
}
/*
Navigation Bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 40px;
    border: 3px solid;

}

#rec a {
    color:black;
    padding: 50px;

    text-decoration: none;
}





.right_navlinks {
    display: flex;


}

.right_navlinks li:hover {
    font-size: 22px;
}

.right_navlinks li a{

    color: black;
    padding: 25px;
    /*padding-right: 50px;*/

    text-decoration: none;

}
.right_nav_icon {
    font-size: 20px;

    color: black;
    /*padding-right: 25px;*/
    /*padding-top: 4px;*/
    transition: .2s ease;



    list-style: none;

}





/* Header */

#header {
    text-align: center;

}



@media(max-width: 540px) {

    body {
        font-size: 150%;

    }


}